.logo {
    margin: 0px;
    width: 100%;
    height: auto;
}

.homeLink {
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100px;
    height: 30px;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px 50px;
}

.headerContent {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    width: 100%;
}

.emptyDiv {
    width: 100px;
    height: 30px; /* Same size as homeLink to balance the grid layout */
}