.content{
    display: flex;
    padding: 60px 30px;
    flex-direction: column;
    align-items: center;  
    justify-content: center; 

    width: 100%;
    border-radius: 20px;
    height: 75vh;
    background-color: var(--white);
    border:none;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
}