:root {
  --font: "Noto Sans", sans-serif;
  --yellow-main: #F2C94C;
  --yellow-secondary: #f1c645;
  --theme-color: linear-gradient(
    to right,
    #fbfbf9,
    #eae9e7
  );
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  gap: 30px;
}


* {
  font-family: var(--font);
  box-sizing: border-box;
}

html,
body {
  background-image: var(--theme-color);
  padding: 15px 5px;
  margin: 0px;
}